.stopwatch {
  padding: 5px;
  border-radius: 25px;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
}

.stopwatch button {
  border: none; /* Remove borders */
  /* color: white; White text */
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 25px;
  margin: 0 2px 0 2px;
}

.stopwatch .timer {
  margin: 0 2px 0 2px;
}